.tribar {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
  color: #000000;
}

.signOut {
  position: absolute;
  right: 0px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
  width: 25px;
}

.contextMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 270px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  z-index: 2;
  transition: transform .5s ease
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: background-color .5s ease, z-index .5s ease;
}