.header {
  position: relative;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.tribar {
  position: absolute;
  right: 25px;
  top: 3px;
  cursor: pointer;
  z-index: 1;
  width: 30px;
}

.signOut {
  position: absolute;
  right: 0px;
  top: 5px;
  cursor: pointer;
  z-index: 1;
  width: 25px;
}