.container {
  padding: 25px 0;
  color: #000000;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.galochka {
  color: green;
}

.krestik {
  color: red;
}

.variants {
  display: flex;
  /* justify-content: space-around; */
  gap: 0 30px;
  justify-content: center;
}

.variant {
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
}