.container {
  border-radius: 10px;
  padding: 8px 8px 8 8px;
  position: relative;
  margin-top: 20px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  min-height: 400px;
}

.title {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

.text {
  color: #ffffff;
  max-width: 100%;
  line-height: 1.5;
  font-size: 17px;
}

.back1 {
  position: absolute;
  border: #fff solid 1px;
  border-radius: 100%;
  padding: 5px;
  top: 0;
  left: 0;
  cursor: pointer;
}

.back1 img {
  width: 25px;
}

.back2 {
  position: absolute;
  border: #fff solid 1px;
  border-radius: 100%;
  padding: 5px;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.back2 img {
  width: 25px;
}