.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 0 5px;
  border: 1px #686868 solid;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.text {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}

.crossedOut {
  text-decoration: line-through;
}

.remove {
  background-color: #fd2121;
  padding: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.remove img {
  width: 22px;
  height: 22px;
}

.toggle {
  background-color: #31a931;
  cursor: pointer;
  font-size: 18px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.edit {
  padding: 8px;
  cursor: pointer;
  background-color: #ffff37;
  flex-shrink: 0;
}

.edit img {
  width: 22px;
  height: 22px;
  transform: translateX(3px);
}

.view {
  padding: 8px;
  cursor: pointer;
  background-color: #2666c3;
  flex-shrink: 0;
}

.view img {
  width: 22px;
  height: 22px;
}

.recover {
  background-color: #8f468f;
  width: 38px;
  height: 38px;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.recoverPlus {
  font-weight: 300;
  font-size: 38px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.button_dropdown {
  /* background-color: rgb(106, 90, 205); */
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  display: none;
  position: relative;
  border: 2px solid #5f5f5f;
}

.dots {
  font-size: 30px;
  margin-top: -16px;
  font-weight: 800;
  cursor: pointer;
  color: rgb(106, 90, 205)
}

@media screen and (max-width: 700px) {
  .button_dropdown {
    display: block;
  }

  .recover,
  .remove,
  .toggle,
  .view {
    display: none;
  }
}