body {
  background-color: #202020;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #f6f6f6f6;
  padding: 50px;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3b3b3b;
}