.container {
    background-color: green;
     position: absolute;
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}
.form {

}
.title {
    margin-bottom: 20px;
}
.input {
    padding: 5px;
    margin-bottom: 10px;
}
.button {
    background-color: #fff;
    padding: 10px 30px;
    margin-bottom: 15px;
}
.hasAccount {
    font-size: 14px;
}
.makeAction {
    color: blue;
}
.socialButtons {
    display: flex;
    justify-content: space-around;
}
.socialLogin {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.socialImg {
    width: 35px;
}
.socialText {
    font-size: 12px;
    max-width: 115px;
    color: #918f8f;
}